h1 {
	text-align: center;
	font-size: 50px;
}

.border {
	border: 5px solid grey;
	padding: 10px;
	border-radius: 20px;
	border-width: 15px;
	margin-top: 30px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 30px;
}

.label {
	float: left;
	text-align: justify;
}



.topnav {
	overflow: hidden;
	background-color: grey;
}

.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 15px 20px;
}

.topnav a:hover {
	background-color: darkgrey;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  border: 5px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: lightgrey;
  font-size: 20px;
}

body {
    font-family: verdana, serif;
	padding: 15px;
	background: lightblue;
}


input[type=submit] {
  width: 20%;
  background-color: grey;
  color: white;
  padding: 15px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
  
}

input[type=submit]:hover {
  background-color: darkgrey;
}

.footer {
	background-color: white;
}

@media screen and (max-width: 800px) {
    .multimedia {   
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}