<section id="view-report">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Plugins
                </div>
                <ul class="list-group list-group-flush">
                    {% for result in report.results %}
                        <li class="list-group-item">
                            <a href="#plugin-section-{{ loop.index }}">{{ result.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% for result in report.results %}
        <section id="plugin-section-{{ loop.index }}">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h4>
                    {{ result.name }}
                </h4>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <button type="button"
                                class="btn btn-sm btn-info">{{ result.category.value }}</button>
                        <button type="button" class="btn btn-sm btn-success">{{ result.version }}</button>
                        <button type="button" class="btn btn-sm btn-secondary">{{ result.author }}</button>
                        <a data-toggle="tooltip" data-placement="bottom" data-original-title="Learn More">
                            <button class="btn btn-sm btn-dark" data-toggle="collapse"
                                    data-target="#plugin-description-{{ loop.index }}">
                                <i class="fa fa-question"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="collapse multi-collapse mb-3" id="plugin-description-{{ loop.index }}">
                <div class="card card-body">
                    {{ result.description }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if result.exception %}
                        <div class="alert alert-danger">
                            <strong>Execution Error:</strong> {{ result.exception }}
                        </div>
                    {% else %}
                        {{ result.render() | safe }}
                    {% endif %}
                </div>
            </div>
        </section>
    {% endfor %}
</section>