{% extends 'layout.html' %}
{% set active_page = "create-report" %}
{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for("panel.view_reports") }}">Reports</a></li>
        <li class="breadcrumb-item active">Create Report</li>
    </ol>
    <section>
        <form>
            <div class="form-group row">
                <label for="report_name" class="col-sm-2 col-form-label">Name of Report</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="report_name" placeholder="Name of Report">
                </div>
            </div>
            <div class="form-group row">
                <label for="plugin_select" class="col-sm-2 col-form-label">
                    Plugins <small>(Use Ctrl + left click to select)</small>:
                </label>
                <select multiple class="col-sm-10 form-control " id="plugin_select" style="height: 100%">
                    {% for plugin in plugins.values() %}
                        <option>
                            {{ plugin.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
                    <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
                </div>
            </div>

            <div class="form-group row">
                <input type="submit" class="btn btn-dark" value="Start Scan">
            </div>
        </form>
    </section>
{% endblock %}