{% extends 'layout.html' %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2><i class="fa fa-home"></i> Dashboard</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-exchange fa-2x"></i>
                    <p class="mb-0">Start Scan</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-exchange fa-2x"></i>
                    <h2 class="timer count-title count-number">{{ previous_scans }}</h2>
                    <p class="mb-0">Previous Scans</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <i class="fa fa-podcast fa-2x"></i>
                    <h2 class="timer count-title count-number">{{ plugin_count }}</h2>
                    <p class="mb-0">Plugin Count</p>
                </div>
            </div>
        </div>
    </div>
    <section id="recent-scans">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h4><i class="fa fa-home"></i> Recent Scans</h4>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>System Name</th>
                    <th>Date</th>
                    <th>Plugins</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody>
                {% for report in recent_scans %}
                <tr>
                    <td>{{ report.system_name }}</td>
                    <td>{{ report.date }}</td>
                    <td>{{ report.results.__len__() }}</td>
                    <td>{{ report.software_version }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}