{% extends 'layouts/panel.html' %}
{% set active_page = "dashboard" %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% for href, id, icon, title, sidebar in navigation_bar %}
            {% if id == active_page %}
                <h2><i class="{{ icon }}"></i> {{ title }}</h2>
            {% endif %}
        {% endfor %}
    </div>

    <div class="content-row text-center">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="card text-white bg-dark h-100">
                    <div class="card-body">
                        <h2>Quick Report</h2>
                        <a href="{{ url_for("panel.quick_report") }}" class=" btn btn-dark stretched-link">Initiate scan
                            with all Plugins</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-white bg-dark h-100">
                    <div class="card-body">
                        <i class="fa fa-list-alt fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ reports | length }}</h2>
                        <p class="mb-0">Reports</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card text-white bg-dark h-100">
                    <div class="card-body">
                        <i class="fa fa-list fa-2x"></i>
                        <h2 class="timer count-title count-number">{{ plugins | length }}</h2>
                        <p class="mb-0">Plugin Count</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="recent-scans">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3">
            <h4><i class="fa fa-list-alt"></i> Recent Reports</h4>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Report Name</th>
                <th>System Name</th>
                <th>Date</th>
                <th>Plugin Count</th>
                <th>Version</th>
                <th>Platform</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports[-3:] | reverse %}
                <tr class="clickable-row" data-href="{{ url_for("panel.view_report", report_id=loop.revindex - 1) }}">
                    <td>{{ report.name }}</td>
                    <td>{{ report.system_name }}</td>
                    <td>{{ report.date }}</td>
                    <td>{{ report.results | length }}</td>
                    <td>{{ report.software_version }}</td>
                    <td>{{ report.system_platform }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}