{% extends 'layout.html' %}
{% set active_page = "help" %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2><i class="fa fa-home"></i> Help </h2>
</div>

<section id="ng-description">
    <h4>Network Guardian is a Network Assessment Tool, which automates the use of multiple tools blah blah blah </h4>
    <br>
    <h4>Download the 'User Manual' <a href="#"> here.</a></h4>
    <br>
    <h4>Download the 'Plugin Development ' <a href="#"> here.</a></h4>
    <br>
    <h4>Pentagon is a team of students studying BSc Ethical Hacking in their 3rd year...Blah...Blah...Blah</h4>
    <br>
</section>
{% endblock %}