{% extends 'layout.html' %}
{% set active_page = "plugins" %}
{% block body %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Plugins</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-sm">
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Open Plugin Directory"
                   href="{{ url_for("api.plugin_directory") }}" class="btn btn-default btn-outline-dark">
                    <i class="fa fa-folder-open-o"></i>
                </a>

                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Refresh Loaded Plugins"
                   href="{{ url_for("api.refresh_plugins") }}" class="btn btn-dark text-white">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
    </div>
    <section id="plugins">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Plugin Name</th>
                <th>Status</th>
                <th>Category</th>
                <th>Supported Platforms</th>
                <th>Author</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            {% for plugin in plugins  %}
                <tr>
                    <td>{{ plugin.name }}</td>
                    <td>
                        {% if plugin.loaded %}
                            <span scope="row" class="badge badge-pill badge-success">Enabled</span>
                        {% else %}
                            <span scope="row" class="badge badge-pill badge-danger">Disabled</span>
                        {% endif %}
                    </td>
                    <td>{{ plugin.category.value }}</td>
                    <td>
                        {%  for platform in plugin.supported_platforms %}
                            {{ platform }}
                        {% endfor %}
                    </td>
                    <td>{{ plugin.author }}</td>
                    <td>{{ plugin.version }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}