{% extends 'layout.html' %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2><i class="fa fa-home"></i> Previous Scans</h2>
</div>

<section id="previous_scans">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Scan Name</th>
                <th>System Name</th>
                <th>Date</th>
                <th>Plugin Count</th>
                <th>Version</th>
                <th>Platform</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>The first scan</td>
            <td>Pentagon PC</td>
            <td>12/12/12</td>
            <td>8</td>
            <td>2.0</td>
            <td>Windows</td>
        </tr>
        </tbody>
    </table>
</section>
{% endblock %}