{% extends 'layouts/panel.html' %}
{% set active_page = "reports" %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% for href, id, icon, title, sidebar in navigation_bar %}
            {% if id == active_page %}
                <h2><i class="{{ icon }}"></i> {{ report.name }}</h2>
            {% endif %}
        {% endfor %}

        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group btn-group-sm">
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Export Report as HTML"
                   href="{{ url_for("panel.export_report", report_id=report_id) }}" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i>
                </a>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Delete Report"
                   href="{{ url_for("panel.delete_report", report_id=report_id) }}" class="btn btn-danger text-white">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
        </div>

    </div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for("panel.view_reports") }}">Reports</a></li>
        <li class="breadcrumb-item active">{{ report.name }}</li>
    </ol>

    {% include 'elements/view_report_object.html' %}
{% endblock %}