{% extends 'layouts/panel.html' %}
{% set active_page = "help" %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% for href, id, icon, title, sidebar in navigation_bar %}
            {% if id == active_page %}
                <h2><i class="{{ icon }}"></i> {{ title }}</h2>
            {% endif %}
        {% endfor %}
    </div>

    <ol class="breadcrumb">
        <li class="breadcrumb-item active">About</li>
    </ol>
    <section id="ng-description">
        <h4>Network Guardian is a Network Assessment Tool, which automates the use of multiple tools to assist with a white-box penetration test. </h4>
        <br>
        <h4>Download the 'User Manual' <a href="#"> here.</a></h4>
        <br>
        <h4>Download the 'Plugin Development ' <a href="#"> here.</a></h4>
        <br>
        <h4>Pentagon is a team of students studying BSc Ethical Hacking in their 3rd year. Network Guardian was created as a group project within CMP:308 Professional Project Planning and Prototyping and CMP311: Professional Project Development and Delivery modules. </h4>
        <br>
    </section>
{% endblock %}