{% extends 'layouts/panel.html' %}
{% set active_page = "plugins" %}
{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        {% for href, id, icon, title, sidebar in navigation_bar %}
            {% if id == active_page %}
                <h2><i class="{{ icon }}"></i> {{ title }}</h2>
            {% endif %}
        {% endfor %}
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group btn-group-sm">
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Open Plugin Directory"
                   href="{{ url_for("plugin_directory") }}" class="btn btn-default btn-outline-dark">
                    <i class="fa fa-folder-open-o"></i>
                </a>
                <a data-toggle="tooltip" data-placement="bottom" data-original-title="Refresh Loaded Plugins"
                   href="{{ url_for("refresh_plugins") }}" class="btn btn-dark text-white">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
    </div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Plugins</li>
    </ol>
    <section id="plugins">
        <table id="data-table" class="table table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th class="text-left">Plugin Name</th>
                <th>Status</th>
                <th>Category</th>
                <th>Supported Platforms</th>
                <th>Author</th>
                <th>Version</th>
            </tr>
            </thead>
            <tbody>
            {% for plugin in plugins %}
                <tr class="clickable-row" data-href="/plugins/{{ plugin.name }}">
                    <td class="text-left">{{ plugin.name }}</td>
                    <td>
                        {% if plugin.loaded %}
                            <span scope="row" class="badge badge-pill badge-success">Enabled</span>
                        {% else %}
                            <span scope="row" class="badge badge-pill badge-danger">Disabled</span>
                        {% endif %}
                    </td>
                    <td>{{ plugin.category.value }}</td>
                    <td>
                        {{ plugin.supported_platforms | join(', ') }}
                    </td>
                    <td>{{ plugin.author }}</td>
                    <td>{{ plugin.version }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}