<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="Network Switcher"/>
        <link rel=" stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toastr.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}"/>
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    </head>
    <body>
    </body>
</html>